{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'ZoomDoualaBundle::layout_pages.html.twig' %}

{% block title %}{%trans%}An error occured{%endtrans%}{% endblock %}

{% block content %}
<p>&nbsp;</p>
<p>&nbsp;</p>
    <p>
        {%trans%}
		internal server error
		{%endtrans%}
    </p>
{% endblock %}